.wv-popper {
  position: fixed;
  padding: 10px;
  border-radius: 3px;
  word-wrap: break-word;
  min-width: 12px;
  min-height: 12px;
  font-size: 14px;
  box-sizing: border-box;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
  background-color: #FFF;
  color: #3a3a3a;
  border: 1px solid #cecece;
  max-width: 300px;
  z-index: 99999;
  /* 深色主题 */
}
.wv-popper[position=top] {
  margin-bottom: 6px;
}
.wv-popper[position=top] .wv-popper-arrow {
  bottom: -6px;
  border-bottom-width: 0;
  border-top-color: #cecece;
}
.wv-popper[position=top] .wv-popper-arrow::after {
  bottom: 1px;
  border-bottom-width: 0;
  margin-left: -6px;
  border-top-color: #FFF;
}
.wv-popper[position=bottom] {
  margin-top: 6px;
}
.wv-popper[position=bottom] .wv-popper-arrow {
  top: -6px;
  border-top-width: 0;
  border-bottom-color: #cecece;
}
.wv-popper[position=bottom] .wv-popper-arrow::after {
  top: 1px;
  border-top-width: 0;
  margin-left: -6px;
  border-bottom-color: #FFF;
}
.wv-popper[position=right] {
  margin-left: 6px;
}
.wv-popper[position=right] .wv-popper-arrow {
  left: -6px;
  border-left-width: 0;
  border-right-color: #cecece;
}
.wv-popper[position=right] .wv-popper-arrow::after {
  left: 1px;
  border-left-width: 0;
  margin-top: -6px;
  border-right-color: #FFF;
}
.wv-popper[position=left] {
  margin-right: 6px;
}
.wv-popper[position=left] .wv-popper-arrow {
  right: -6px;
  border-right-width: 0;
  border-left-color: #cecece;
}
.wv-popper[position=left] .wv-popper-arrow::after {
  right: 1px;
  border-right-width: 0;
  margin-top: -6px;
  border-left-color: #FFF;
}
.wv-popper[position=top] .wv-popper-arrow {
  left: -moz-calc(44%);
  left: -webkit-calc(44%);
  left: calc(50% - 6px);
}
.wv-popper[position=bottom] .wv-popper-arrow {
  left: -moz-calc(44%);
  left: -webkit-calc(44%);
  left: calc(50% - 6px);
}
.wv-popper[position=left] .wv-popper-arrow {
  top: -moz-calc(44%);
  top: -webkit-calc(44%);
  top: calc(50% - 6px);
}
.wv-popper[position=right] .wv-popper-arrow {
  top: -moz-calc(44%);
  top: -webkit-calc(44%);
  top: calc(50% - 6px);
}
.wv-popper::after {
  content: " ";
  position: absolute;
  display: block;
}
.wv-popper[position=top]::after {
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 7px;
}
.wv-popper[position=bottom]::after {
  top: -7px;
  left: 0;
  width: 100%;
  height: 7px;
}
.wv-popper[position=left]::after {
  right: -7px;
  bottom: 0;
  height: 100%;
  width: 7px;
}
.wv-popper[position=right]::after {
  left: -7px;
  bottom: 0;
  height: 100%;
  width: 7px;
}
.wv-popper .wv-popper-arrow,
.wv-popper .wv-popper-arrow::after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
}
.wv-popper .wv-popper-arrow::after {
  content: ' ';
}
.wv-popper.wv-dark {
  background-color: #353535;
  color: #FFF;
  border: 1px solid #353535;
}
.wv-popper.wv-dark[position=top] {
  margin-bottom: 6px;
}
.wv-popper.wv-dark[position=top] .wv-popper-arrow {
  bottom: -6px;
  border-bottom-width: 0;
  border-top-color: #353535;
}
.wv-popper.wv-dark[position=top] .wv-popper-arrow::after {
  bottom: 1px;
  border-bottom-width: 0;
  margin-left: -6px;
  border-top-color: #353535;
}
.wv-popper.wv-dark[position=bottom] {
  margin-top: 6px;
}
.wv-popper.wv-dark[position=bottom] .wv-popper-arrow {
  top: -6px;
  border-top-width: 0;
  border-bottom-color: #353535;
}
.wv-popper.wv-dark[position=bottom] .wv-popper-arrow::after {
  top: 1px;
  border-top-width: 0;
  margin-left: -6px;
  border-bottom-color: #353535;
}
.wv-popper.wv-dark[position=right] {
  margin-left: 6px;
}
.wv-popper.wv-dark[position=right] .wv-popper-arrow {
  left: -6px;
  border-left-width: 0;
  border-right-color: #353535;
}
.wv-popper.wv-dark[position=right] .wv-popper-arrow::after {
  left: 1px;
  border-left-width: 0;
  margin-top: -6px;
  border-right-color: #353535;
}
.wv-popper.wv-dark[position=left] {
  margin-right: 6px;
}
.wv-popper.wv-dark[position=left] .wv-popper-arrow {
  right: -6px;
  border-right-width: 0;
  border-left-color: #353535;
}
.wv-popper.wv-dark[position=left] .wv-popper-arrow::after {
  right: 1px;
  border-right-width: 0;
  margin-top: -6px;
  border-left-color: #353535;
}
