.wv-radio[size="lg"] {
	.wv-form-radio {
		& > i {
			font-size: 24px;
		}
	}
}
.wv-radio[size="md"] {
	.wv-form-radio {
		& > i {
			font-size: 22px;
		}
	}
}
.wv-radio[size="sm"] {
	.wv-form-radio {
		& > i {
			font-size: 20px;
		}
	}
}
.wv-radio[size="xs"] {
	.wv-form-radio {
		& > i {
			font-size: 18px;
		}
	}
}
.wv-radio {
	input[type="radio"] {
		display: none;
	}
}
.wv-form-radio,
.wv-form-radio * {
	display: inline-block;
	vertical-align: middle;
}
.wv-form-radio {
	line-height: 28px;
	margin: 6px 10px 0 0;
	padding-right: 10px;
	cursor: pointer;
	font-size: 0;
	* {
		font-size: 14px;
	}
	& > i {
		margin-right: 8px;
		font-size: 22px;
		color: var(--global-neutral-color-8, #c2c2c2);
	}
}
.wv-form-radio:hover *,
.wv-form-radioed,
.wv-form-radioed > i {
	color: var(--global-checked-color, #1e9fff);
}
.wv-radio-disabled {
	& > i {
		color: var(--global-neutral-color-3, #eeeeee) !important;
	}
	* {
		color: var(--global-neutral-color-8, #c2c2c2) !important;
	}
}
